.category-container {
  padding: 0 2rem;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-category span,
svg {
  cursor: pointer;
}

.category-container li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}

.seperator {
  width: 2px;
  height: 20px;
  background: #c0c1c4;
}

.all-category {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 992px) {
  .category-container {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .category-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
    padding: 10px 1rem;
  }

  .category-container::-webkit-scrollbar {
    display: none;
  }

  .seperator {
    display: none;
  }
}
