.category-container {
    padding: 0 2rem;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-category span,
svg {
    cursor: pointer;
}

.category-container li {
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}

.seperator {
    width: 2px;
    height: 20px;
    background: #c0c1c4;
}

.all-category {
    display: flex;
    align-items: center;
    gap: 5px;
}