.footer-wrapper {
  background: #f7f8f9;
  padding: 30px 80px;
  color: #002f34;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  color: #002f34;
  font-size: 13px;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.follow-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-icons {
  display: flex;
}

.social-icons img {
  width: 32px;
  margin-right: 10px;
  cursor: pointer;
}
.app-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.app-section img {
  width: 140px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
