@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

img, video {
  max-width: 100%;
  display: block;
}
